**/*.log
*.
.vscode/
.idea/
.history
.yarn
dist
dist-dev
lib
lib-types
etc
node_modules
rollup.config.js
build
.cache
.rollup.cache
vite.config.ts
.netlify
pnpm-lock.yaml
package-lock.json
yarn.lock
server